{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'titulo' %} {% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'homeindex' %}">home</a>
        <a href="{% url 'alunos_lista' %}">aluno</a>
        <a href="{% url 'aluno_cadastro' %}">cadastrar</a>
        <a href="{% url 'usuario_login' %}">login</a>
        <a href="{% url 'dashboard' %}">dashboard</a>
        <a href="{% url 'sair' %}">Sair</a>
    </nav>

    <div class="container">
    {% block 'conteudo' %}
    {% endblock %}
</div>
</body>
</html>